<div class="row">
  <div class="card col-md-5 col-sm-5 col-xs-12 mb-sm-3 ml-sm-3">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
  <div class="col-md-1 col-sm-1 col-xs-12 align-middle m-sm-3 m-sm-3"> <img class="mx-auto d-block image" src="../../assets/images/versus.png" alt="Card image cap"></div>
  <div class="card col-md-5 col-sm-5 col-xs-12 mb-sm-3 mr-sm-3">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
